/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap");

/* Body */
body {
  background-image: linear-gradient(
    to right top,
    #114da6,
    #1d55b0,
    #275dba,
    #3065c5,
    #386dcf,
    #2a7bda,
    #1989e3,
    #0096ec,
    #00aaf1,
    #00bdf2,
    #35cff1,
    #63dfef
  );
  display: grid;
  font-family: "Nunito", sans-serif;
  height: 100vh;
  margin: 0;
  place-items: center;
}

/* CSS Container Structure */
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  height: 90%;
  width: 80%;
}

.padding-box {
  box-sizing: border-box;
  padding: 24px;
}
